name: Deploy-Site
on:
  push:
    branches:
      - main
  workflow_dispatch:  # <--- AJOUTEZ CETTE LIGNE (C'est le bouton manuel)
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
